@using Magistri.DTO

@{
    ViewData["Title"] = "Edit";
}
@model SubjectDTO

<h1>Edit</h1>

<form asp-action="Edit">
    <div>
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>    
    <div>
        <input type="submit" value="Update" class="btn btn-success" />
    </div>
</form>


