@model string
@{
    ViewData["Title"] = "Authentication";
}

<h1 class="bg-info text-white">Authentication</h1>
<p>
    Hello @Model !
</p>
@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Accounts" asp-action="Logout" class="btn btn-danger">Logout</a>
}
